<div class="page-wrapper">
  <!--<div class="sticky-header">
  </div>-->
  <!-- <div #ngIf="memberService.organizationId != ''">
    <button
      type="submit"
      class="boton btn px-4"
      style="background-color: #134e6f"
      (click)="signOut()"
    >
      <span class="fa fa-sign-in" style="color: #60e2e7"></span>
      Cerrar Sesion
    </button>
  </div> -->
  <div class="content-wrapper">
    <div class="content">
      <div class="bg">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="footer">
      <footer class="py-4">
        <div class="row">
          <div class="col-md-3 center"><a href="/#">Acerca de nosotros</a></div>
          <div class="col-md-3 center">
            <a href="/#">Politica de Privacidad</a>
          </div>
          <div class="col-md-3 center"><a href="/#">Desarrolladores</a></div>
          <div class="col-md-3 center"><a href="/#">© 2020 Surfy.Inc</a></div>
        </div>
      </footer>
    </div>
  </div>
</div>
